.gameSelect {
    display: flex;
    flex-direction: column;
    gap: 60px 0;
    align-items: center;
}

.gameSelect--tabs {
    display: flex;
    justify-content: center;
}

.gameSelect--tabs--pong, .gameSelect--tabs--memory {
    display: flex;
    flex-direction: column;

    h4 {
        margin-bottom: 10px;
        text-align: center;
    }

    & {
        width: 200px
    }
}