html,
body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  height: 100%;
}

#root {
  margin: 0;
  padding: 0;
}
#overlay {
  position: absolute;
  display: none;
  z-index: 1;
  width: 100%;
  height: 100%;
}
#scoreBoard {
  background-color: rgba(225, 179, 242, 0.4);
  width: 20%;
  height: 15%;
  position: relative;
  top: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  border: 5px blue solid;
  margin: 0 auto;
  padding: 4% 2%;
}

.score {
  font-family: sans-serif;
  color: aliceblue;
  font-size: 2em;
  font-weight: 700;
}
.player-name {
  font-family: sans-serif;
  color: aliceblue;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 30px;
}
/* .score-left {
    margin-left: 10%;
}
.score-right {
    margin-right: 10%;
} */

#player-left {
  /*margin-left: 15%;*/
  margin-right: 10%;
}

#main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 50vh;
  margin-top: 8%;
  border: 5px solid green;
}

#winning-background {
  background-color: rgba(179, 242, 213, 0.4);
  width: 50%;
  max-height: 25%;
  position: relative;
  border-radius: 20px;
  margin: 8% auto 0;
  /*  margin: 25% auto 0; */
  display: none;
}

#winning-text {
  font-size: 2em;
  font-family: "Courier New", Courier, monospace;
  position: relative;
  text-align: center;
  white-space: nowrap;
  line-height: 200%;
}

canvas {
  position: absolute;
  z-index: 0;
}

#btn-start {
  width: 20%;
  margin: 2% auto 0;
  display: none;
}

#user-input-overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgb(143, 143, 177);
}

#form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#input-form {
  background-color: rgb(225, 193, 255);
  border-radius: 25px;
  box-shadow: 5px 5px 5px 1px rgb(84, 82, 85);
  padding: 2%;
}

input {
  border-radius: 25px;
}

#submit {
  display: block;
  margin: 0 auto;
  line-height: 10%;
  border-radius: 25px;
  box-shadow: 2px 2px 2px rgb(84, 82, 85);
}

#input-modi {
  width: 300px;
  display: flex;
  border: 2px solid black;
}
#modi {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance:none;
  border-radius: 25px;
  padding: 3% 13% 4% 10%;
  margin-bottom: 10%;
  /*background: transparent;*/
  background-image: url("data:image/svg+xml,<svg width='24' height='20' xmlns='http://www.w3.org/2000/svg'><path d='m0,6l12,12l12,-12l-24,0z'/><path fill='none' d='m0,0l24,0l0,24l-24,0l0,-24z'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 92%;
  background-position-y: 50%;
  font-size: 18px;
  margin-left: 10%;
}

#input-number-players {
  display: none;
}

#input-player-names {
  display: none;
}

.modi-option {
  background-color: aliceblue;
}