.startGameBar {
    /* border: 2px solid red; */
    height: 320px;
    width: 320px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--custom-darkGrey-card);
    display: grid;
    grid-template-rows: 50% 40%;

    .gameRequirementsInfo {
        color: var(--custom-red-error)
    }
    .startPong {
        /* border: 1px solid purple; */
        display: flex;
        justify-content: center;
        align-items: center;

    }

}