.startGameBar {
    /* border: 2px solid red; */
    height: 320px;
    width: 320px;
    border-radius: 10px;
    background-color: var(--custom-darkGrey-card);
    display: grid;
    grid-template-rows: 50% 40%;

    .gameRequirementsInfo {
        color: var(--custom-red-error)
    }
}