.heroSection {
    grid-template-columns: 100%;

    .heroSection-header {
        background: none;
        text-align: center;
    }

}


@media screen and (min-width: 1460px) {
    .heroSection {
        grid-template-rows: 800px;

        .heroSection-header {
            background-image: url('../../assets/svg/heroBg.svg');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    
        .heroSection-header {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .heroSection-header h1 {
            position: absolute;
        }
    
        .heroSection-header h1:first-child {
            transform: translate(-100px, -50px);
        }

        .heroSection-header h1:last-child {
            transform: translateX(200px);
        }

        .heroSection-signup--beforeFooter {
            text-align: center;
        }

    }
}



