.heroSection {
    grid-row: span 6;
    display: grid;
    justify-content: center;
    grid-template-columns: 100%;
    row-gap:  60px;


    .heroSection-header {
        display: none;
    }

    .heroSection-about {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 60px;
        margin-top: 60px;
    }

    .heroSection-about > div {
        width: 300px;

    }

    .heroSection-signup {
        display: flex;
        justify-content: center;
    }

    .heroSection-signup--btn {
        justify-content: space-around;
    }

}


@media screen and (min-width: 1460px) {
    .heroSection {
        grid-template-rows: 800px;

        .heroSection-header {
            background-image: url('../../assets/svg/heroBg.svg');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    
        .heroSection-header {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .heroSection-header h1 {
            position: absolute;
        }
    
        .heroSection-header h1:first-child {
            transform: translate(-100px, -50px);
        }

        .heroSection-header h1:last-child {
            transform: translateX(200px);
        }

        .heroSection-signup--beforeFooter {
            text-align: center;
        }

    }
}



