.pongGameMenu {
    width: 100%;

    .pongGameMenu--card {
        background-color: var(--custom-darkGrey-card);
        border-radius: 10px;
        width: 600px;
        height: 600px;
    }

    .gameTheme, .gameMode {
        width: 60%;
    }
}