.signupSection {
    height: 80vh;

    .signupSection--form {
        width: 60%;

        label {
            display: inline-block;
            margin-bottom: 10px;
        }

        .signupSection--form--error {
            color: var(--custom-red-error);
            display: inline-block;
            margin-bottom: 5px;
            visibility: hidden;

            &.showInputErrMsg {
                visibility: visible;
            }
        }
    }

    /* .signupSection--form input {
        background: transparent;
        border: 1px solid var(--custom-grey-border);
        width: 457px;
        height: 36px;
        color: var(--custom--white);
        padding-left: 20px;
        margin-bottom: 40px;
        
            &.invalid {
                border-color: var(--custom-red-error);
            }

    } */

    .signupSection--form-btn {
        height: 36px;
        width: 457px;
    }

    .signupSection--form--line {
        border-bottom: 1px solid var(--custom-grey-border);
        width: 457px;
    }

    .signupErrDuplicateUser,
    .signupErrList {
        height: 150px;
        
        ul {
            width: 440px;
            padding: 0;
        }
    }
}

.dashboard .custom-input input,
.signupSection .custom-input input
{
    background: transparent;
    border: 1px solid var(--custom-grey-border);
    width: 457px;
    height: 36px;
    color: var(--custom--white);
    padding-left: 20px;
    margin-bottom: 40px;
    
        &.invalid {
            border-color: var(--custom-red-error);
        }

}

.dashboard .custom-input input::placeholder,
.signupSection .custom-input input::placeholder {
    color: var(--custom--white);
    font-size: 13px;
    opacity: 0.6;
    font-style: italic;
}