.settings {
    height: 80vh;

    .settings-card {
        width: 300px;
        padding: 20px 30px;
        background-color: var(--custom-darkGrey-card);
    }

    .inactiveText {
        opacity: 0.6;
    }

    .inactiveText:hover {
        opacity: 1;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    }
}