.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96vh;
    width: 100%;
    border: 2px solid red;
}

canvas {
    height: 90vh;
    border: 2px solid black;
}