.historyUser {

    display: flex;
    flex-direction: column;
    width: 100%;

    .statsCard {
        max-width: 500px;
        height: 360px;
        border-radius: 10px;
        background-color: var(--custom-darkGrey-card);
        padding: 20px;
    }

    .historyUser--stats {
        width: 100%;
        /* border: 3px solid red; */
        display: flex;
    }

    .historyUser--stats-grid {
        display: grid;
        /* border: 10px solid yellow; */
        grid-template-columns: 40% 40%;
        gap: 90px 30px;
        justify-content: center;
        align-items: center;
        flex: 2;
    }
}
