.selectedBar {
    /* border: 2px solid red; */
    height: 800px;
    width: 320px;
    padding: 10px;
    background-color: var(--custom-darkGrey-card);
    display: grid;
    grid-template-rows: 10% 80% 10%;


    .startPong {
        /* border: 1px solid purple; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .selectedBar--picks {
        justify-self: center;
        display: flex;
        flex-direction: column;
        gap: 20px 0;
        padding: 20px 10px;
        background-color: var(--custom-grey-card);
        border-radius: 10px;
    }

    .selectedBar--heading {
        text-align: center;
    }
}