

.player {
    width: 251px;
    height: 112px;
    border: 1px solid var(--custom-light-purple);
    border-radius: 10px;
    color: var(--custom-greyGreen);
    user-select: none;

    &.selected {
        background-color: var(--custom-light-purple);
        color: var(--custom-grey);
    }
}