.historyAll {
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    gap: 50px;
    justify-content: center;

    h3 {
        text-align: center;
    }

    .historyAll--column {
        border: 1px solid var(--custom--light-purple);
        border-radius: 10px;
        flex: 1;
        /* padding: 20px; */
        height: 74px;;
        display: flex;
        align-items: center;
        justify-content: center;
        

    }

}