.historyAll {
    width: 100%;
    min-height: 80vh;
    gap: 50px;

    .historyAll--column {
        border: 1px solid var(--custom-light-purple);
        border-radius: 10px;
        min-height: 74px;
        transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
        user-select: none;
    }

    .historyAll--column:hover {
        cursor: pointer;
        transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
        box-shadow: 8px 4px var(--custom-light-purple);
    }

    .historyWin {
        color: var(--custom-green-win)
    }

    .historyLoss {
        color: var(--custom-red-error)
    }

    .historyTotal {
        color: var(--custom-greyGreen)
    }
}